# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# --- Virtual environments ---
.env
.venv/
env/
venv/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Logs & Outputs ---
*.log
*.out
*.err
*.pth
*.pt
*.ckpt

# --- IDE & Editor ---
.vscode/
.idea/
*.swp

# --- OS files ---
.DS_Store
Thumbs.db

# --- Custom project files ---
# Ignore compiled cache in sphere-cos-arc/utils
sphere-cos-arc/utils/__pycache__/
sphere-cos-arc before wandb/utils/__pycache__/
# Ignore backup folder
sphere-cos-arc before wandb/
# ignore sh file
pull_server.sh
push_server.sh
sphere-cos-arc/push_server.sh